//      TABLET

@media (min-width: 768px) {
  .line__left {
    display: block;
  }

  .services {
    &__content {
      flex-direction: row;
      gap: 32px;
    }

    &__text {
      width: 50%;
    }

    &__image {
      width: 50%;
    }

    &__text-hidden {
      display: block;
      height: 40px;
      overflow: hidden;
    }

    &__logo-mid {
      display: flex;
    }
  }

  .devices__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

//      TABLET BRANDS

@media (min-width: 768px) and (max-width: 1119px) {
  .brands-grid {
    grid-template-columns: repeat(3, 1fr);

    .brand-card:nth-child(n + 7) {
      display: none;
    }

    &.open .brand-card {
      display: flex;
    }
  }
}

//      DESKTOP

@media (min-width: 1120px) {
  .menu {
    display: flex;
  }

  .right__part {
    margin-left: 300px;
  }

  .services {
    padding: 40px;

    &__header {
      display: none;
    }

    &__actions {
      display: flex;
    }

    &__title {
      font-size: 28px;
    }

    &__tab--reviews {
      display: block;
    }

    &__menu {
      flex-wrap: wrap;
      overflow: visible;
    }

    &__text-hidden {
      overflow: visible;
      height: auto;
    }
  }

  .brands-grid {
    grid-template-columns: repeat(4, 1fr);

    .brand-card:nth-child(n + 9) {
      display: none;
    }

    &.open .brand-card {
      display: flex;
    }
  }
}

//  MOBILE BRANDS

@media (max-width: 767px) {
  .brands-grid {
    display: none;
  }

  .brands-slider {
    display: block;
  }

  .swiper-slide {
    width: 240px !important;
  }

  .swiper-pagination {
    position: static;
    margin-top: 16px;
  }

  .show-more {
    display: none;
  }
}
