@font-face {
  font-family: 'TTL';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Thin.otf') format('opentype');
  font-weight: 100;
}

@import 'variables';
@import 'base';
@import 'line';
@import 'services';
@import 'menu';
@import 'brands';
@import 'media';
